.loading-mask {
		position: absolute;
		background-color: whiteSmoke;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2000;
	}
	
	.loading-mask .brand {
		position: absolute;
		width: 100%;
		bottom: 20px;
	}
	
	.loading-mask .loading-zone {
		width: 100%;
		max-width: 300px;
		margin: 100px auto;
	}
	
	.loading-mask .loading-zone .progress {
		height: 13px;
	}
	
	.loading-mask .loading-zone .text {
		text-align: center;
		margin: 5px auto;
	}

	/* -------------------------------------------------- */
	/*	Bootstrap responsive style
	/* -------------------------------------------------- */

	body {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	.sidebar-nav {
		padding: 9px 0;
	}
	
	@media (max-width: 980px) {
		/* Enable use of floated navbar text */
		.navbar-text.pull-right {
			float: none;
			padding-left: 5px;
			padding-right: 5px;
		}
		.container-fluid {
			padding:0px
		}
	}

	
	/* -------------------------------------------------- */
	/*	Header Style
	/* -------------------------------------------------- */
	
	.navbar .brand {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		max-width: 80%;
	}
	
	/* -------------------------------------------------- */
	/*	Search & Highlight
	/* -------------------------------------------------- */
	.highlight {
		background-color: #FFFF88;
	}
	.highlight-selected {
		background-color: darkorange;
	}

	/* -------------------------------------------------- */
	/*	Word Style
	/* -------------------------------------------------- */

	.word-body, .ppt-body {
		background-color:#EBEBEB;
		min-height: 100%;
		-webkit-font-smoothing:antialiased;
		font-smoothing:antialiased;
		text-rendering:optimizeLegibility;
	}

	.word-body table {
		width: auto !important;
	}

	.word-page{
		line-height: normal;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 15px;
		background-color:#FFF;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-moz-box-shadow: 0 0 10px 5px #888;
		-webkit-box-shadow: 0 0 10px 5px #888;
		box-shadow: 0 0 10px 5px #888;
	}
	
	.word-page .word-content {
		position: relative;
		background-color:#FFF;
		max-width: 100%;
		word-wrap: break-word;
		word-break: break-all;
		margin: 0px auto;
	}
	
	.doc-page .doc-content p{
		word-wrap:break-word;
		word-break:normal;
		margin: 0px;
	}

	/* -------------------------------------------------- */
	/*	Table Style
	/* -------------------------------------------------- */

	table {
		border-collapse: collapse;
		word-wrap: break-word;
		margin: 0px auto;
	}
	
	table td {
		text-align: center !important;
	}
	
	/*
	table, tbody, tfoot, thead, tr, th, td {
		border: 1px solid #dddddd !important;
	}
	*/

	
		
	/* -------------------------------------------------- */
	/*	Footer
	/* -------------------------------------------------- */
	footer {
		text-align: center;
	}
	
	/* -------------------------------------------------- */
	/*	Bottom paging progress
	/* -------------------------------------------------- */
	.bottom-paging-progress {
		position: fixed;
		width: 100%;
		bottom: 0px;
		left: 0px;
		margin: 0px auto;
		height: 3px;
	}
	
	.paging-bottom-all {
		border-top: 1px solid #d8d8d8;
		height: 20px;
		position: fixed;
		bottom: 0px;
		left: 0px;
		right: 0px;
		width: 100%;
		cursor: pointer;
	}
	.paging-bottom-sub {
		float: left;
		display: inline-block;
		text-align: center;
		height: 20px;
		font-weight: bold;
		color: green;
	}
	.word-body .container-fluid-content {
		    padding:0px
		}
	
	/* -------------------------------------------------- */
	/*	Mobile css
	/* -------------------------------------------------- */
	@media (max-width: 743px) {
		.word-body {
			padding-top: 40px;
		}
		.word-page .word-content {
			max-width: 100%;
			line-height: normal;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 5px;
		background-color:#FFF;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-moz-box-shadow: 0 0 5px 2px #888;
		-webkit-box-shadow: 0 0 5px 2px #888;
		box-shadow: 0 0 5px 2px #888;
		}
		
		
		.word-body, .ppt-body, .pdf-body {
			background-color:#FFF;
		}
		.word-page{
			-moz-box-shadow: 0 0 5px 2px #FFF;
			-webkit-box-shadow: 0 0 0px 0px #FFF;
			box-shadow: 0 0 0px 0px #FFF;
		}
		
		.pdf-body {
			padding-top: 50px;
		}
		.pdf-body .container-fluid-content {
		    padding-left: 0px;
			padding-right: 0px;
		}
	}
	
	/**修改的bootstrap框架里的 css**/
	.navbar-inverse .brand {
    color: #999;
	}
   .navbar-inverse .brand, .navbar-inverse .nav>li>a {
    
     text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
   }
   .navbar .brand {
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
	}
	a {
    color: #08c;
    text-decoration: none;
	}
	a:-webkit-any-link {user agent stylesheeta:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
	}
	
}
#btnPrint{
	float:right;
	margin-right:30px;
    padding: 10px;
}

.changePage{
	color:#fff;
	position:absolute;
	height:40px;
    left: 40%;
}

.pageUp,.pageDown{
	display:inline-block;
	width:20px;
	height:20px;
	background-color:#fff;
	vertical-align:middle;
	cursor:pointer;
	margin:0px 5px 0px 5px 
}
.pageUp:hover,.pageDown:hover{
	opacity:0.5;
}
.pageUp{
	background:url(toolbarButton-pageUp.png) no-repeat;
	background-size:cover
}
.pageDown{
	background:url(toolbarButton-pageDown.png) no-repeat;
	background-size:cover
}
.changePage .activePage{
	width:40px;
	height:10px;
	line-height:10px;
	margin:10px;
	text-align:right;
}
@media (max-width: 770px){
	.changePage{
		left:0px
	}
	 .navbar .brand{
		display:none
	}
	
}
@page {
      size: auto;  /* auto is the initial value */
      margin: 0mm; /* this affects the margin in the printer settings */
    }