

									<form class="form-inline" action="" method="get">
									    <a class="btn btn-info" href="{:U('addedit')}?id={$val['id']}" value="">新增</a>
										<input id="alldel" class="btn btn-info" type="button" value="删除">

										<input type="text" name="keyword" class="form-control"  placeholder="通知标题" >
										<button type="submit" class="btn btn-purple btn-sm">
											<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
											搜索
										</button>
									</form>
								</div>
							    
								<div class="space-4"></div>
								<div class="row table-responsive">
									<form id="form" method="post" action="{:U('del')}">
									<table class="table table-striped table-bordered ">
										<thead>
											<tr>
											    <th class="center "><input  class="check-all" type="checkbox" value=""></th>
												<th class="center">操作</th>
                                                <th style="white-space:nowrap;" class="center ">日期</th>

                                                <th class="center">标题</th>
                                                <th class="center hidden-xs">内容</th>
                                                <!--<th class="center">开始时间</th>-->
                                                <th class="center hidden-xs">创建者</th>
                                                <th class="center hidden-xs">接收者</th>
                                                <th style="white-space:nowrap;" class="center">公告</th>                                                                                                                                     <th style="white-space:nowrap;" class="center">发送</th>
                                                                                                <!--<th style="white-space:nowrap;" class="center">快捷</th>-->
                                                <!--<th class="center">IP</th>-->
                                                <!--<th class="center">截止时间</th>-->
                                                <!--<th class="center">删除时间</th>-->



                                               
	
											</tr>
											
										</thead>
										<tbody>
							
										<volist name="list" id="val">
											<tr>
												<td class="center">
													<input class="uids"  type="checkbox" name="uids[]" value="{$val['id']}">
												</td>
												<td class="center col-md-1">
												    <a href="{:U('addedit')}?id={$val['id']}">修改</a><br>
											</td>
                                                <th style="white-space:nowrap;" class="center lilyth"> <?php echo  date('m-d',$val['creattime'] );  ?> </th>

                                                <th class="center lilyth col-md-2 "><a href="{:U('Lilynoticeview/toreadpage')}?id={$val['id']}">{$val.title}</a></th>
                                                <th class="lilyth col-md-6 hidden-xs"><a href="{:U('Lilynoticeview/toreadpage')}?id={$val['id']}">{$val.content|subtext=46}</a></th>

                                                <!--<th class="center lilyth"><?php echo  date('Y-m-d H:s:i',$val['start_time'] );  ?></th>-->
                                                
                                                <th class="center lilyth col-md-1 hidden-xs"><?php echo GetName($val['sender'],'user','\n'); ?></th>
                                                <th class="center lilyth  col-md-2 hidden-xs">{$val['sendto']|subtext=25}</th>
                                                <th class="center lilyth ">{$val['canview']}</th>
                                                                                                <th class="center lilyth col-md-1">	<a  class="center" href="{:U('send/index')}?id={$val['id']}" style="font:30px">发送<br>页面 </a></th>
	
											</tr>
										</volist>
										</tbody>
									</table>
									</form>