<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{$data['title']}</title>

		<meta name="keywords" content="{$Think.CONFIG.keywords}" />
		<meta name="description" content="{$Think.CONFIG.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<include file="Public/head" />
		    
		    

		    
   </head>

	<body class="no-skin">
		<include file="Public/header" />
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<include file="Public/sidebar" />
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<include file="Public/breadcrumbs" />

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<include file="Public/set" />

						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								

									<form class="form-horizontal" id="form" method="post" action="{:U('rec_read')}">
                                        <!-- 第一个是传值用的 -->
                                         <input id="id"  name="id" type="hidden"  value= <?php echo isset($id)?$data['id']:''; ?>  "" />
              
               <input type="hidden" name="reader" id="reader"  value= 	{$user.user}   placeholder="阅读者" class="col-xs-10 col-sm-5" readonly>                                       
                                        <!-- id是传入的值， teacher是要修改的数据库  -->

               <input type="hidden" name="sender" id="sender"  value= {$id}  class="col-xs-10 col-sm-5" >



             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">标题</label>
              <div class="col-sm-11">
               <input type="text" name="title" id="title"  value= <?php echo isset($id)?$data['title']:''; ?> "" 
                               placeholder="标题" class="col-xs-10 col-sm-5" >

              </div>
             </div>
        
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">内容</label>
              <div class="col-sm-11">
               <textarea style="height:20px;" name="content" id="content"  class="col-xs-10 col-sm-5  autosize-transition"  ><?php echo $data['content'];  ?></textarea>

              </div>
             </div>


									<div class="col-md-offset-2 col-md-9">
										<button class="btn btn-info submit" type="button">
											<i class="icon-ok bigger-110"></i>
											确认
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="icon-undo bigger-110"></i>
											取消
										</button>
									</div>
								</form>


							<!-- PAGE CONTENT ENDS -->
 							</div><!-- /.col -->
							
						</div><!-- /.row -->




					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			<include file="Public/footer" />
			
		</div><!-- /.main-container -->

		<include file="Public/footerjs" />
		<!-- inline scripts related to this page -->
<!--  文本框自动变长的脚本 -->
    <script src="__PUBLIC__/qwadmin/js/chosen.jquery.js"></script>
    <script src="__PUBLIC__/qwadmin/js/jquery.autosize.js"></script>
    <script src="__PUBLIC__/qwadmin/js/jquery.inputlimiter.1.3.1.js"></script>
    <script src="__PUBLIC__/qwadmin/js/jquery.maskedinput.js"></script>
    <script type="text/javascript">
        $(function ($) {
            $('textarea[class*=autosize]').autosize({ append: "\n" });
            $('textarea[class*=autosize]').autosize({ append: "\n" });            
            $('textarea.limited').inputlimiter({
                remText: '%n character%s remaining...',
                limitText: 'max allowed : %n.'
            });
        });
    </script>	
<!--  文本框自动变长的脚本 -->








<script>

 
</script>


	</body>
</html>
