<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{$current['title']}-{$Think.CONFIG.title}</title>

		<meta name="keywords" content="{$Think.CONFIG.keywords}" />
		<meta name="description" content="{$Think.CONFIG.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<include file="Public/head" />
   </head>

	<body class="no-skin">
		<include file="Public/header" />
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<include file="Public/sidebar" />
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<include file="Public/breadcrumbs" />

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<include file="Public/set" />

						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="cf">
									<a class="btn btn-info" href="{:U('add')}" value="">新增链接</a>
								</div>
								<div class="space-4"></div>

								<form id="form" method="post" action="{:U('del')}">
									<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th class="center"><input class="check-all" type="checkbox" value=""></th>
											<th class="col-xs-2">名称</th>
											<th class="col-xs-2">链接类型</th>
											<th class="col-xs-4">URL</th>
											<th class="col-xs-2">排序</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
									<volist name="list" id="val">
										<tr>
											<td class="center"><input class="ids" type="checkbox" name="ids[]" value="{$val['id']}"></td>
											<td><a href="{$val['url']}" target="_blank">{$val['title']}</a></td>
											<td><if condition="$val['logo'] neq ''"><img src="__ROOT__{$val['logo']}" width="88" height="31"><else />文本链接</if></td>
											<td><a href="{$val['url']}" target="_blank">{$val['url']}</a></td>
											<td>{$val['o']}</td>
											<td><a href="{:U('edit')}?id={$val['id']}"><i class="ace-icon fa fa-pencil bigger-100"></i>修改</a>&nbsp&nbsp;<a href="javascript:;" val="{:U('del')}?ids={$val['id']}" class="dellink"><i class="ace-icon fa fa-trash-o bigger-100 red"></i>删除</a></td>
										</tr>
									</volist>
									</tbody>
								</table>
								<div class="cf">
									<input class="btn btn-info" type="button" id="dellink" value="删除">
								</div>
								</form>
								{$page}
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			<include file="Public/footer" />
			
		</div><!-- /.main-container -->

		<include file="Public/footerjs" />
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
		$(function(){
			$(".check-all").click(function(){
				$(".ids").prop("checked", this.checked);
			});
			$(".ids").click(function(){
				var option = $(".ids");
				option.each(function(i){
					if(!this.checked){
						$(".check-all").prop("checked", false);
						return false;
					}else{
						$(".check-all").prop("checked", true);
					}
				});
			});
			$("#dellink").click(function(){
				bootbox.confirm({
					title: "系统提示",
					message: "是否要删除所选？", 
					callback:function(result){
						if(result){
							$("#form").submit();
						}
					},
					buttons: {
						"cancel" : {"label" : "取消"},
						"confirm" : {
								"label" : "确定",
								"className" : "btn-danger"
							}
					}
				});
			});
			$(".dellink").click(function(){
				var url = $(this).attr('val');
				bootbox.confirm({
					title: "系统提示",
					message: "是否要该记录？", 
					callback:function(result){
						if(result){
							window.location.href = url;
						}
					},
					buttons: {
						"cancel" : {"label" : "取消"},
						"confirm" : {
								"label" : "确定",
								"className" : "btn-danger"
							}
					}
				});
			});
		})
		</script>
	</body>
</html>
