<?php $user=$this->USER; ?>
<if condition="empty($user) eq true">
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs">
				<li >
					<a href="{:U('index/index')}">返回首页</a>
				</li>
				<li >
					<a href="{:U('Ud/sheetindex')}">管理数据</a>
				</li>		
				<li >
					<a href="{:U('Ud/mysheet')}">个人数据</a>
				</li>
		
				<!--<li >-->
				<!--<a href="/index.php/Qwadmin/Lilynoticeview/mynotice">我的通知</a>-->
				<!--</li>-->
				<!--<li >-->
				<!--	<a href="/index.php/Qwadmin/Lilynoticeview/annonce">通知公告</a>-->
				<!--</li>-->
	<!--<div class=\"col-xs-3\">-->
	<!--	<h3><a href=\"".U("Ud/index?sheetname=$sheetname")."\">首页</a></h3>   -->
	<!--</div> 	-->
	<!--<div class=\"col-xs-3\">-->
	<!--	<h3><a href=\"".U("Ud/mysheet?sheetname=$sheetname")."\">个人</a></h3>   -->
	<!--</div> 	-->
	<!--<div class=\"col-xs-3\">-->
	<!--	<h3><a href=\"".U("Ud/addedit?sheetname=$sheetname")."\">新增</a></h3>   -->
	<!--</div>-->
	<!--<div class=\"col-xs-3\">-->
	<!--	<h3><a href=\"".U('RwxyCom/echoiddata?id='.$id)."\">查看</a></h3>   -->
	<!--</div>				-->

				<!--<li >-->
				<!--<a href="/index.php/Qwadmin/Show">台院信息</a>-->
				<!--</li>-->
				<li >
				<a href="/index.php/Qwadmin/RwxyCom/uniquerydata.html">通用查询</a>
				</li>				
				<!--
				<li >
				<a href="/index.php/Qwadmin/Lilynoticeview/haveread">已读通知</a>
				</li>
				
				
				
				<li class="dropdown pull-right">-->
				<!--	 <a class="dropdown-toggle" href="#" data-toggle="dropdown">下拉<strong class="caret"></strong></a>-->
				<!--	<ul class="dropdown-menu">-->
				<!--		<li>-->
				<!--			<a href="#">操作</a>-->
				<!--		</li>-->
				<!--		<li>-->
				<!--			<a href="#">设置栏目</a>-->
				<!--		</li>-->
				<!--		<li>-->
				<!--			<a href="#">更多设置</a>-->
				<!--		</li>-->
				<!--		<li class="divider">-->
				<!--		</li>-->
				<!--		<li>-->
				<!--			<a href="#">分割线</a>-->
				<!--		</li>-->
				<!--	</ul>-->
				<!--</li>-->
			</ul>
		</div>
	</div>
</div>

</if>