		<!-- bootstrap & fontawesome -->

    		<link rel="stylesheet" href="__LILYCDN__/Public/qwadmin/css/bootstrap.css" />
    		<link rel="stylesheet" href="__LILYCDN__/Public/qwadmin/css/font-awesome.css" />

<!--<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">-->
<!--<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">-->

		<!-- page specific plugin styles -->

		<!-- text fonts -->
<?php $user=$this->USER;?>
<if condition="empty($user) eq true">
		<link rel="stylesheet" href="__LILYCDN__/Public/qwadmin/css/ace-fonts.css" />
		<link rel="stylesheet" href="__LILYCDN__/Public/qwadmin/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
		<script src="__LILYCDN__/Public/qwadmin/js/ace-extra.js"></script>
</if>




		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<![endif]-->
		

		<link rel="stylesheet" href="__LILYCDN__/Public/lily/css/lilycss.css" />


  <link rel="stylesheet" href="http://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
  <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>






		
