<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{$current['title']}-{$Think.CONFIG.title}</title>

		<meta name="keywords" content="{$Think.CONFIG.keywords}" />
		<meta name="description" content="{$Think.CONFIG.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<include file="Public/head" />
	
   </head>

	<body class="no-skin">
		<include file="Public/header" />
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<include file="Public/sidebar" />
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<include file="Public/breadcrumbs" />

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<include file="Public/set" />

						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
<!--     正文开始	1. 搜索  2. 代码-->							  
							<div class="row">


									<form class="form-inline" action="" method="get">
									    <a class="btn btn-info" href="{:U(getcomstr('Ad').'/addedit')}?sheetname={$sheetname}&id={$val['id']}" value="">新增</a>
										<input id="alldel" class="btn btn-info" type="button" value="删除">

										<input type="text" name="keyword" class="form-control"  placeholder="通知标题" >
										<button type="submit" class="btn btn-purple btn-sm">
											<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
											搜索
										</button>
									</form>
								</div>
							    
								<div class="space-4"></div>
								<div class="row table-responsive">
									<form id="form" method="post" action="{:U('del')}">
									<table class="table table-striped table-bordered ">
										<thead>
											<tr>
											    
											    <th class="center "><input  class="check-all" type="checkbox" value=""></th>
												<th class="center">操作</th>
												<th class="center ">内容</th>

                                               
	
											</tr>
											
										</thead>
										<tbody>
							
										<volist name="queryarr" id="val">
											<tr>
												<td class="center">
													<input class="uids"  type="checkbox" name="uids[]" value="{$val['id']}">
												</td>
												<td class="center col-md-1">
												    <a href=
												    "<?php echo U(getcomstr('Ad').'/addedit?id='.$val['id']); ?>">修改</a><br>
											    </td>

                                                <td style="white-space:nowrap;" class="center lilyth"><a href="<?php echo U(getcomstr('Vi').'/echoiddata?id='.$val['id']); ?>">{$val['content']}</a></td>

 
											</tr>
										</volist>
										</tbody>
									</table>
									</form>
								</div>							    
							   {$page} 
							    







							</div><!-- /.col -->					
							
		
		
		
							
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			<include file="Public/footer" />
			
		</div><!-- /.main-container -->

		<include file="Public/footerjs" />
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
		$(function(){

			$(".check-all").click(function(){
				$(".uids").prop("checked", this.checked);
			});
			$(".uids").click(function(){
				var option = $(".uids");
				option.each(function(i){
					if(!this.checked){
						$(".check-all").prop("checked", false);
						return false;
					}else{
						$(".check-all").prop("checked", true);
					}
				});
			});
			
			$("#alldel").click(function(){
				bootbox.confirm({
					title: "系统提示",
					message: "是否要删除所选？", 
					callback:function(result){
						if(result){
							$("#form").submit();
						}
					},
					buttons: {
					    "confirm" : {
								"label" : "确定",
								"className" : "btn-danger"
							},
						"cancel" : {"label" : "取消"}

					}
				});
			});
			$(".del").click(function(){
				var url = $(this).attr('val');
				bootbox.confirm({
					title: "系统提示",
					message: "是否要该用户?", 
					callback:function(result){
						if(result){
							window.location.href = url;
						}
					},
					buttons: {	
					    "cancel" : {"label" : "取消"},
						"confirm" : {
								"label" : "确定",
								"className" : "btn-danger"
							}
					
					}
				});
			});
			
			
		})
		</script>
	</body>
</html>
