			<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->
					<div class="footer-content">
						<span class="bigger-120">
						<small> 本站由<a href="{$Think.CONFIG.site}" target="_blank">{$Think.CONFIG.footer}</a>用开源的<a href="https://github.com/lilyhcn1/ExcelQuery/blob/master/README.md" target="_blank">Excel共享系统</a>制作。 </small>
						<!--<small> 欢迎一起讨论更新，也欢迎传播推广，有问题可以直接联系我。校外人员可加QQ群:539844557。 </small>-->
							
						</span>
					</div>

					<!-- /section:basics/footer -->
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>