<div class="head">
		<script src="__LILYCDN__/Public/qwadmin/js/jquery.js"></script>
		<script src="__LILYCDN__/Public/qwadmin/js/bootstrap.js"></script>
        <script src="__LILYCDN__/Public/qwadmin/js/jquery.mobile.custom.js"></script>
        <script src="__LILYCDN__/Public/qwadmin/js/bootbox.min.js"></script>
        <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        
        <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
        <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
		<link rel="stylesheet" href="__LILYCDN__/Public/lily/css/lilycss.css" />
		<link rel="stylesheet" href="__LILYCDN__/Public/qwadmin/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />  
		<link rel="stylesheet" href="__LILYCDN__/Public/qwadmin/css/ace-fonts.css" />

		<script src="__LILYCDN__/Public/qwadmin/js/ace-extra.js"></script>    		
</div>
