<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{:U('home/index')}">SMEOA</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<volist name="list_top_menu" id="tag"  mod="6">
					<li>
						<a  href="#" url="{:U($tag['url'])}" node="{$tag.id}" onclick="click_top_menu(this)">{$tag.name}</a>
					</li>
				</volist>
			</ul>
			<div class="navbar-right">
				<a href="{:U('Profile/index')}"><img style="width:30px;height:30px;" src="{:get_save_url()}{$Think.session.user_pic}"></a>
				<a href="{:U('login/logout')}">退出</a>
			</div>
		</div><!--/.nav-collapse -->
	</div>
</div>