<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<title>smeoa</title>
		<meta content='' name='description' />
		<meta content='' name='author' />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" >
		<link href="__PUBLIC__/css/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
		<link href="__PUBLIC__/css/checkbox/grey.css" rel="stylesheet" />
		<link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet" />
		<!--[if lt IE 9]>
		<link type="text/css" href="__PUBLIC__/css/custom-theme/jquery.ui.1.9.2.ie.css"  rel="stylesheet" />
		<![endif]-->

		<link href="__PUBLIC__/css/style.css" rel="stylesheet">
		<script src="__PUBLIC__/js/jquery.js"></script>
		<script src="__PUBLIC__/js/jquery.icheck.min.js"></script>

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="__PUBLIC__/js/html5shiv.js"></script>
		<script src="__PUBLIC__/js/respond.min.js"></script>
		<![endif]-->
		<include file="Public:script" />
	</head>
	<body>
		<!-- Wrap all page content here -->
		<div class="container">
			<div class="col-xs-12 {$Think.MODULE_NAME }">
				{__CONTENT__}
			</div>
		</div>
		<script src="__PUBLIC__/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
		<script src="__PUBLIC__/js/common.js"></script>
		<include file="$js_file" />
	</body>
</html>