<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>用户注册</title>

		<meta name="keywords" content="{$Think.CONFIG.keywords}" />
		<meta name="description" content="{$Think.CONFIG.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<include file="Public/head" />
   </head>

	<body class="no-skin">
		<div class="main-container" id="main-container">
		
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->


					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">


						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
									<form class="form-horizontal" action="{:U('Lilyreg/reg')}" method="post">

             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6"></label>
              <div class="col-sm-9">
									        <p>
        <label style="font-size: 36px;" class="center"><strong>用户注册</strong></label>
    </p>
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>



             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">用户名</label>
              <div class="col-sm-9">
               <input type="text" name="user" id="user"    placeholder="用户名" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">学号必填</span>
               </span>
              </div>
             </div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 用户密码 </label>
										<div class="col-sm-9">
											<input type="password" name="password" id="password" placeholder="用户密码" class="col-xs-10 col-sm-5" value="">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">留空不修改</span>
											</span>
										</div>
									</div>
									
									
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">昵称</label>
              <div class="col-sm-9">
               <input type="text" name="nickname" id="nickname"    placeholder="昵称" class="col-xs-10 col-sm-5" readonly value="{$data['name']}" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">一些情况下代替姓名</span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">微信openid</label>
              <div class="col-sm-9">
               <input type="text" name="wx_id" id="wx_id"    placeholder="微信号" class="col-xs-10 col-sm-5" readonly value="{$data['wx_openid']}">
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">微信openid</span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">手机号</label>
              <div class="col-sm-9">
               <input type="text" name="phone" id="phone"    placeholder="手机号" class="col-xs-10 col-sm-5"  readonly value="{$data['mphone']}">
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">手机</span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">QQ</label>
              <div class="col-sm-9">
               <input type="text" name="qq" id="qq"    placeholder="QQ" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">QQ号码</span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">电子信箱</label>
              <div class="col-sm-9">
               <input type="text" name="email" id="email"    placeholder="电子信箱" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">后期会发通知到邮箱</span>
               </span>
              </div>
             </div>


             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">用户组</label>
              <div class="col-sm-9">
               <input type="text" name="group_id" id="group_id"   placeholder="用户组" class="col-xs-10 col-sm-5"  readonly value="教师">
              </div>
             </div>							
									<div class="space-4"></div>

             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">短信验证码</label>
              <div class="col-sm-9">
               <input type="text" name="smscode" id="smscode"   placeholder="短信验证码" class="col-xs-10 col-sm-5"  >
              </div>
             </div>							
									<div class="space-4"></div>
									
									<div class="col-md-offset-2 col-md-9">
										<button class="btn btn-info" type="submit">
											<i class="icon-ok bigger-110"></i>
											提交
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="icon-undo bigger-110"></i>
											重置
										</button>
									</div>
								</form>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			<include file="Public/footer" />
			
		</div><!-- /.main-container -->

		<include file="Public/footerjs" />
		<!-- inline scripts related to this page -->


	</body>
</html>
