<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{$current['title']}-{$Think.CONFIG.title}</title>

		<meta name="keywords" content="{$Think.CONFIG.keywords}" />
		<meta name="description" content="{$Think.CONFIG.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<include file="Public/head" />
   </head>

	<body class="no-skin">
		<include file="Public/header" />
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<include file="Public/sidebar" />
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<include file="Public/breadcrumbs" />

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<include file="Public/set" />

						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								

									<form class="form-horizontal" id="form" method="post" action="{:U('update')}">
                                        <!-- 第一个是传值用的 teacher是要修改的数据库 -->
                                         <input id="id"  name="id" type="hidden"  value= <?php echo isset($id)?$student['id']:''; ?>  "" />
                                                     
                                        <!-- id是传入的值， teacher是要修改的数据库  -->
 
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">学号</label>
              <div class="col-sm-9">
               <input type="text" name="stuid" id="stuid"  value= <?php echo isset($id)?$student['stuid']:''; ?> "" 
                               placeholder="学号" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">学号必填</span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">姓名</label>
              <div class="col-sm-9">
               <input type="text" name="name" id="name"  value= <?php echo isset($id)?$student['name']:''; ?> "" 
                               placeholder="姓名" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">姓名必填</span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">性别</label>
              <div class="col-sm-9">
               <input type="text" name="sex" id="sex"  value= <?php echo isset($id)?$student['sex']:''; ?> "" 
                               placeholder="性别" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">民族</label>
              <div class="col-sm-9">
               <input type="text" name="nation" id="nation"  value= <?php echo isset($id)?$student['nation']:''; ?> "" 
                               placeholder="民族" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">身份证</label>
              <div class="col-sm-9">
               <input type="text" name="cid" id="cid"  value= <?php echo isset($id)?$student['cid']:''; ?> "" 
                               placeholder="身份证" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">家庭住址</label>
              <div class="col-sm-9">
               <input type="text" name="homeaddress" id="homeaddress"  value= <?php echo isset($id)?$student['homeaddress']:''; ?> "" 
                               placeholder="家庭住址" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">家庭电话</label>
              <div class="col-sm-9">
               <input type="text" name="home_telephone" id="home_telephone"  value= <?php echo isset($id)?$student['home_telephone']:''; ?> "" 
                               placeholder="家庭电话" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">父亲</label>
              <div class="col-sm-9">
               <input type="text" name="father_name" id="father_name"  value= <?php echo isset($id)?$student['father_name']:''; ?> "" 
                               placeholder="父亲" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">父亲工作</label>
              <div class="col-sm-9">
               <input type="text" name="father_work" id="father_work"  value= <?php echo isset($id)?$student['father_work']:''; ?> "" 
                               placeholder="父亲工作" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">父亲电话</label>
              <div class="col-sm-9">
               <input type="text" name="father_phone" id="father_phone"  value= <?php echo isset($id)?$student['father_phone']:''; ?> "" 
                               placeholder="父亲电话" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">母亲</label>
              <div class="col-sm-9">
               <input type="text" name="mon_name" id="mon_name"  value= <?php echo isset($id)?$student['mon_name']:''; ?> "" 
                               placeholder="母亲" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">母亲工作</label>
              <div class="col-sm-9">
               <input type="text" name="mon_work" id="mon_work"  value= <?php echo isset($id)?$student['mon_work']:''; ?> "" 
                               placeholder="母亲工作" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">母亲电话</label>
              <div class="col-sm-9">
               <input type="text" name="mon_phone" id="mon_phone"  value= <?php echo isset($id)?$student['mon_phone']:''; ?> "" 
                               placeholder="母亲电话" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">手机长号</label>
              <div class="col-sm-9">
               <input type="text" name="phone" id="phone"  value= <?php echo isset($id)?$student['phone']:''; ?> "" 
                               placeholder="手机长号" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">*重要</span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">短号</label>
              <div class="col-sm-9">
               <input type="text" name="s_phone" id="s_phone"  value= <?php echo isset($id)?$student['s_phone']:''; ?> "" 
                               placeholder="短号" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">*重要</span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">寝室</label>
              <div class="col-sm-9">
               <input type="text" name="room" id="room"  value= <?php echo isset($id)?$student['room']:''; ?> "" 
                               placeholder="寝室" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">QQ</label>
              <div class="col-sm-9">
               <input type="text" name="QQ" id="QQ"  value= <?php echo isset($id)?$student['QQ']:''; ?> "" 
                               placeholder="QQ" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">信仰</label>
              <div class="col-sm-9">
               <input type="text" name="faith" id="faith"  value= <?php echo isset($id)?$student['faith']:''; ?> "" 
                               placeholder="信仰" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">电话</label>
              <div class="col-sm-9">
               <input type="text" name="telephone" id="telephone"  value= <?php echo isset($id)?$student['telephone']:''; ?> "" 
                               placeholder="电话" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">班级</label>
              <div class="col-sm-9">
               <input type="text" name="class" id="class"  value= <?php echo isset($id)?$student['class']:''; ?> "" 
                               placeholder="班级" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">不可修改</span>
               </span>
              </div>
             </div>
             <div class="form-group">
              <label class="col-sm-1 control-label no-padding-right" for="form-field-6">学号2</label>
              <div class="col-sm-9">
               <input type="text" name="fdy" id="fdy"  value= <?php echo isset($id)?$student['fdy']:''; ?> "" 
                               placeholder="学号2" class="col-xs-10 col-sm-5" >
               <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
               </span>
              </div>
             </div>






									<div class="col-md-offset-2 col-md-9">
										<button class="btn btn-info submit" type="button">
											<i class="icon-ok bigger-110"></i>
											<?php echo isset($id)?'更新':'新增'; ?>
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="icon-undo bigger-110"></i>
											重置
										</button>
									</div>
								</form>
							<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			<include file="Public/footer" />
			
		</div><!-- /.main-container -->

		<include file="Public/footerjs" />
		<!-- inline scripts related to this page -->
		<script src="__PUBLIC__/qwadmin/js/date-time/bootstrap-datepicker.js"></script>
		<script src="__PUBLIC__/qwadmin/js/function.js"></script>
		<script type="text/javascript">
		$(function() {
			$(".btn-info.submit").click(function(){
				var webname = $("#name").val();
				if(webname==0){
					bootbox.dialog({
						title: '友情提示：',
						message: "姓名必须填写。", 
						buttons: {
							"success" : {
								"label" : "确定",
								"className" : "btn-danger"
							}
						}
					});
					return;
				}

				$("#form").submit();
			});
		});
	</script>	
	</body>
</html>
