<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
        <title>{$_SESSION['sheetname']}--{$Think.CONFIG.title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<include file="Public/head" /> 

  <!--<link rel="stylesheet" href="jqueryui/style.css">-->

<!--// datatables的js-->
<link rel="stylesheet" type="text/css" href="__LILYCDN__/Public/lily/datatables/datatables.min.css"/>
 
<script type="text/javascript" src="__LILYCDN__/Public/lily/datatables/datatables.min.js"></script>



   </head>

	<body style="background-color:#ffffff">
	<div style="height:45">
		<include file="Public/header" />
	    </div>



<!--     正文开始	-->							  



<div class="container">
    <div id="legend" class="">
        <legend class=""><a href="{$indexpage}">查询首页</a> 输入回车查询</legend>
    </div>
<form class="form-horizontal" id="uniform" role="form" method="get" action="{$postpage}" >

<div class="form-group">
	<div class="controls col-xs-5">
            <select class="input-xlarge" name="sheetname" id="sheetname" >
                <option value="">所有表 中</option>
                <volist name="sheetarr" id="vo">
                    <option value="{$vo.sheetname}">{$vo.sheetname} 中</option>

                </volist>  
            </select>
    </div>
<!--style="padding:5px 0px 0 3px"-->
	<div class="form-group col-xs-2" > 
	
		   <div class="controls " style="padding:5px 0px 0 0px">
		       查询

          </div>
    </div>
    <div class="controls col-xs-5">
        <input type="text" id="classa" name="name" class="form-control input-xlarge " style="height:30px"  >  

    </div>
	
</div>	


	




	<div class="form-group">
		<div class="col-xs-offset-2 col-xs-10">
			<button type="submit" class="btn btn-default">开始查询</button>
		</div>
	</div>
</form>

<div class="container">
    <div class="row">

            <h3>您能查询的数据表：</h3>
                <volist name="res" id="list">

                   <h4 align="center"> {$list.sheetname}</h4><br> 


 <table class="data">
    <thead >
     <tr>
        <volist name="list.sheetfieldname" id="fieldname">
            <th >{$fieldname}</th>
        </volist>             
      </tr>
    </thead>
    <tbody>
        
        <volist name="list.data" id="data" key="k">
        
                <tr>
                    <volist name="list.sheetfieldkey" id="sk">

                        <td><a href="{$list['data'][$k-1]['url']}">{$list['data'][$k-1][$sk]}</a></td>
                    </volist>   
                </tr>    
        </volist>    

    </tbody>
 </table>




 

                    
                </volist>      
    </div>
</div>



			
		</div><!-- /.main-container -->
	<include file="Public/footer" />
		<include file="Public/footerjs" />
		<!-- inline scripts related to this page -->
        <include file="Public/tiplist" />   <!--这里就是自动提示的代码-->

<script>


//设置参数
setCommonOptions(".data")



// 设定datatable的一些参数
function setCommonOptions(tableclass){

     $(tableclass).DataTable({
    //  "lengthMenu": [50, 100,200,1000,9999],
           // 每页的初期件数 用户可以操作lengthMenu上的值覆盖
        "pageLength": 5,
        // "searching":false,    //去掉搜索框方法一
        // "bFilter":false,    //去掉搜索框方法二
        // "info":false,    //去掉底部的文字
        // "bSort":false,    //禁止排序
        "aaSorting": [],     //选项为空数组。它将禁用初始排序，同时仍然允许在单击列时进行手动排序。
        "oLanguage": { 
            "sLengthMenu": "每页显示 _MENU_ 条记录", 
            "sZeroRecords": "抱歉， 没有找到", 
            "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据", 
            "sInfoEmpty": "没有数据", 
            "sInfoFiltered": "(从 _MAX_ 条数据中检索)", 
            "sSearch":"表格内搜索",
            "oPaginate": { 
            "sFirst": "首页", 
            "sPrevious": "前一页", 
            "sNext": "后一页", 
            "sLast": "尾页"
            }, 
            "sZeroRecords": "没有检索到数据", 
            "sProcessing": "<img src='./loading.gif' />"
        },
        "bPaginate": false, //翻页功能 
        "bLengthChange": true, //改变每页显示数据数量 
        "bFilter": true, //过滤功能 
        "bInfo": false,//页脚信息 
        "bAutoWidth": true,//自动宽度
        'dom': 'Bfrtip',
      'buttons': [],

})
}
</script>    
	</body>
</html>
