		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='__PUBLIC__/qwadmin/js/jquery.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='__PUBLIC__/qwadmin/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='__PUBLIC__/qwadmin/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>
		<script src="__PUBLIC__/qwadmin/js/bootstrap.js"></script>



		<!-- page specific plugin scripts -->
    		<!--<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>-->
    		<!--<script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>-->
    		<!--<script src="__PUBLIC__/qwadmin/js/bootbox.js"></script>-->
<script src="http://cdn.bootcss.com/bootbox.js/4.4.0/bootbox.js"></script>    		
		<!-- ace scripts -->
    		<!--<script src="__PUBLIC__/qwadmin/js/ace/elements.scroller.js"></script>-->
    		<!--<script src="__PUBLIC__/qwadmin/js/ace/elements.colorpicker.js"></script>-->
    		<!--<script src="__PUBLIC__/qwadmin/js/ace/elements.fileinput.js"></script>-->
    		<!--<script src="__PUBLIC__/qwadmin/js/ace/elements.typeahead.js"></script>-->
    		<!--<script src="__PUBLIC__/qwadmin/js/ace/elements.wysiwyg.js"></script>-->
    		<!--<script src="__PUBLIC__/qwadmin/js/ace/elements.spinner.js"></script>-->
    		<!--<script src="__PUBLIC__/qwadmin/js/ace/elements.treeview.js"></script>-->
    		<!--<script src="__PUBLIC__/qwadmin/js/ace/elements.wizard.js"></script>-->
    		<!--<script src="__PUBLIC__/qwadmin/js/ace/elements.aside.js"></script>-->
		<script src="__PUBLIC__/qwadmin/js/ace/ace.js"></script>
		<script src="__PUBLIC__/qwadmin/js/ace/ace.ajax-content.js"></script>
		<script src="__PUBLIC__/qwadmin/js/ace/ace.touch-drag.js"></script>
		<script src="__PUBLIC__/qwadmin/js/ace/ace.sidebar.js"></script>
		<script src="__PUBLIC__/qwadmin/js/ace/ace.sidebar-scroll-1.js"></script>
		<script src="__PUBLIC__/qwadmin/js/ace/ace.submenu-hover.js"></script>
		<script src="__PUBLIC__/qwadmin/js/ace/ace.widget-box.js"></script>
		<script src="__PUBLIC__/qwadmin/js/ace/ace.settings.js"></script>
		<script src="__PUBLIC__/qwadmin/js/ace/ace.settings-rtl.js"></script>
		<script src="__PUBLIC__/qwadmin/js/ace/ace.settings-skin.js"></script>
		<script src="__PUBLIC__/qwadmin/js/ace/ace.widget-on-reload.js"></script>
    		<!--<script src="__PUBLIC__/qwadmin/js/ace/ace.searchbox-autocomplete.js"></script>-->
    		<!--<script src="__PUBLIC__/qwadmin/js/jquery.autosize.min.js"></script>-->
