<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>{$Think.CONFIG.sitename}</title>
<!--link rel="stylesheet" type="text/css" href="{$Think.CONFIG.URL}/style.css" />
<script type="text/javascript" src="{$Think.CONFIG.URL}/js.js"></script-->
<meta name="keywords" content="{$Think.CONFIG.keywords}" />
<meta name="description" content="{$Think.CONFIG.description}" />
</head>
<body>
<div class="file_holder">
<div class="file_title">
<i class="octicon octicon-book"></i>

</div>
<div class="file_content markdown-body">
<h1><a class="anchor" id="qwadmin" href="#qwadmin"></a>QWadmin</h1>
<p>基于thinkphp与aceadmin模板的后台管理系统</p>

<p><strong>===============================安装说明================================</strong></p>

<p>1.sql.sql文件导入到数据库中。</p>

<p>2.将文件App/Common/Conf/config_bak.php 重命名为config.php文件</p>

<p>3.在config.php文件填写数据库配置信息</p>

<p>后台地址：<a href="{:U('Qwadmin/login/index')}">进入后台管理系统</a>   账号admin  密码 admin</p>

<p><strong>=============================相关信息====================================</strong></p>

<p><strong>演示地址</strong>：<a href="http://demo.qwadmin.qiawei.com/index.php/Qwadmin/">http://demo.qwadmin.qiawei.com/index.php/Qwadmin/</a>  账号admin  密码 admin</p>

<p><strong>官网地址</strong>：<a href="http://qwadmin.qiawei.com/">http://qwadmin.qiawei.com/</a></p>

<p><strong>QQ交流群</strong>：231272191</p>

<p>欢迎大家有进行沟通交流！</p>

<p>开源是一种精神！为中国的互联网行业发展献出一份小小的力量~~</p>

<p><strong>==================================后台截图==================================</strong></p>

<p><img alt="image" src="https://github.com/qiaweicom/qwadmin/raw/master/screenshots/login.png"></p>

<p><img alt="image" src="https://github.com/qiaweicom/qwadmin/raw/master/screenshots/index.png"></p>

<p><img alt="image" src="https://github.com/qiaweicom/qwadmin/raw/master/screenshots/person.png"></p>

<p><img alt="image" src="https://github.com/qiaweicom/qwadmin/raw/master/screenshots/member.png"></p>

<p><img alt="image" src="https://github.com/qiaweicom/qwadmin/raw/master/screenshots/group.png"></p>

<p><img alt="image" src="https://github.com/qiaweicom/qwadmin/raw/master/screenshots/Database.png"></p>

<p><img alt="image" src="https://github.com/qiaweicom/qwadmin/raw/master/screenshots/new_add.png"></p>

<p><img alt="image" src="https://github.com/qiaweicom/qwadmin/raw/master/screenshots/links.png"></p>

<p><img alt="image" src="https://github.com/qiaweicom/qwadmin/raw/master/screenshots/menu.png"></p>
</div>
</div>
</body>
</html>
