<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
        <title>{$_SESSION['sheetname']}--{$Think.CONFIG.title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<include file="Public/head" /> 
  <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
  <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <!--<link rel="stylesheet" href="jqueryui/style.css">-->


   </head>

	<body style="background-color:#ffffff">
	<div style="height:45">
		<include file="Public/header" />
	    </div>



<!--     正文开始	-->							  



<div class="container">
    <div id="legend" class="">
        <legend class=""><a href="/">查询首页</a> 输入回车查询</legend>
    </div>
<form class="form-horizontal" id="uniform" role="form" method="get" action="{$postpage}" >

<div class="form-group">
	<div class="controls col-xs-5">
            <select class="input-xlarge" name="sheetname" id="sheetname" >
                <option value="">所有表 中</option>
                <volist name="sheetarr" id="vo">
                    <option value="{$vo.sheetname}">{$vo.sheetname} 中</option>

                </volist>  
            </select>
    </div>
<!--style="padding:5px 0px 0 3px"-->
	<div class="form-group col-xs-2" > 
	
		   <div class="controls " style="padding:5px 0px 0 0px">
		       查询

          </div>
    </div>
    <div class="controls col-xs-5">
        <input type="text" id="classa" name="name" class="form-control input-xlarge " style="height:30px"  >  

    </div>
	
</div>	


	




	<div class="form-group">
		<div class="col-xs-offset-2 col-xs-10">
			<button type="submit" class="btn btn-default">开始查询</button>
		</div>
	</div>
</form>

<div class="container">
    <div class="row">
        <p id='info'> 
            <h3>您能查询的数据表：</h3>
                <volist name="sheetarr" id="vo">
                    <a href="{$vo.url}"><span style="font-size:24;">{$vo.sheetname}</span></a><br> 
                </volist>      
        </p>
    </div>
</div>


			
		</div><!-- /.main-container -->
	<include file="Public/footer" />
		<include file="Public/footerjs" />
		<!-- inline scripts related to this page -->
        <include file="Public/tiplist" />   <!--这里就是自动提示的代码-->
<script type="text/javascript">
$("#classa").bind("input propertychange",function(event){
//  取值并发送
    var tt=$("#classa").val();
    $.get("/index.php/Qwadmin/ApiCom/tiplist",
    {
        name:tt
    },
    function(data,status){
        var jsonObj  =JSON.parse(data);
        var arr=jsonObj['tipliststr'].split(",");
        $( "#classa" ).autocomplete({
          source: arr
        });
    });
})
// 回填数据到空格，并提交表单
    $( "#classa" ).autocomplete({
    select: function( event, ui ) {
        $("#classa").val(ui.item.value)
        $("#uniform").submit()
        }
        
    });	

</script>
	</body>
</html>
