<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>教师信息查询-{$Think.CONFIG.title}</title>

		<meta name="keywords" content="{$Think.CONFIG.keywords}" />
		<meta name="description" content="{$Think.CONFIG.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<include file="Public/head" />
   </head>

	<body class="no-skin">
		<include file="Public/header" />
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<include file="Public/sidebar" />
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<include file="Public/breadcrumbs" />

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<include file="Public/set" />

						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
<!--     正文开始	-->		







<div class="container">
<form class="form-horizontal" id="form1" name="form1" method="post" action="">
    <div id="legend" class="">
        <legend class="">信息查询</legend>
    </div>

    <div class="control-group">
          <label class="control-label">学院</label>
          <div class="controls">
            <select  name="classa" id="classa" class="input-xlarge form-control">
                <volist name='data' id='val'>
                    <option value="{$val['department']}">{$val['department']}</option>
                </volist>
              </select>
          </div>
    </div>

    <div class="control-group">
          <label class="control-label">教师</label>
          <div class="controls">
            <select  name="classb" id="classb" class="input-xlarge form-control">
               
              </select>
          </div>
    </div>


    <!--<div class="control-group">-->
    <!--      <label class="control-label">同学</label>-->
    <!--      <div class="controls">-->
    <!--        <select  name="classc" id="classc" class="input-xlarge form-control">-->

    <!--          </select>-->
    <!--      </div>-->
    <!--</div>-->


     

</form>
</div>
<div class="container">
    <div class="row">
         <p id='info'>     </p>           
    </div>
</div>




							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			<include file="Public/footer" />
			
		</div><!-- /.main-container -->

		<include file="Public/footerjs" />
		<!-- inline scripts related to this page -->
		<script type="text/javascript">

    $(document).ready(function(){
        //一级分类联动二级分类
        var classaval=$('#classa').val();
        $("#classb").load("__URL__/teacherclassify",{data:classaval,fc:'department',sc:'name'});

        $("#classa").change(function(){
            var val=$(this).val();
            //alert(val);
            $("#classb").load("__URL__/teacherclassify",{data:val,fc:'department',sc:'name'});
        });
        
        
        // //二级分类联动三级分类
        // $("#classb").change(function(){
        //     var val=$(this).val();
        //     //alert(val);
        //     $("#classc").load("__URL__/teacherclassify",{data:val,fc:'class',sc:'name'});
        // });
            //三级分类联动四级分类
        $("#classb").change(function(){
             var val=$(this).val();
            temp=$('#info').load("__URL__/getteacherinfo",{data:val,fc:'name'});
            
            $('#info').html(temp);
        });
    });





		</script>
	</body>
</html>
